@font-face {
  font-family: "Gotham";
  src: url("./Gotham-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./Gotham-Medium.otf") format("opentype");
  font-weight: 600;
  font-display: optional;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: optional;
  font-style: normal;
}
